*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.navbar{
    list-style-type: none;
    height: 80px;
    background:	#97ccff;
}

.logo{
    color: #ffffff;
    font-size: 25px;
}

a:link{
    text-decoration: none;
    color: black;
}

a:hover{
    color:brown ;
}
a:active{
    color: red;
}

.register{
    border: 2px solid black;
    padding: 25px;
    margin: 50px 300px;
    background-color: rgba(212, 226, 239, 0.781);
    
}

.main-title{
    text-align: center;
}

.second-title{
    text-align: center;
}

.third-title{
    text-align: center;
}

form p{
padding: 30px;
text-align: center;

}

button{
    display: block;
    margin: auto;
    width: 100px;
    border-radius: 30px;
    background-color: #38cee6ea;
    padding: 3%;
    margin-top: 2%;
    transition: all ease-in-out 0.2s;
} 

button:hover{
    background-color: blanchedalmond;
    cursor: pointer;

}
 











/* .addMore{
  border: none;
  width: 32px;
  height: 32px;
  background-color: #eee;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.addMore:hover{
  border: 1px solid #888;
  background-color: #ddd;
} */

